.App {
  text-align: center;
}

.pink {
  background: pink;
  height: 50px;
  width: 50px;
  margin: 10px;
}

.yellow {
  background: yellow;
  height: 50px;
  width: 50px;
  margin: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
